.clearfix::before, .clear::after {
  clear: both;
  content: '';
  display: block
}
.useCaseLibraryApp {
  width: 100%;
}
.useCaseLibraryApp > .header {
  width: 1188px;
  height: 40px;
  margin: 0 auto;
  height: 14px;
  padding: 10px 0px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc
}
.useCaseLibraryApp > .header > .breadcrumb {
  margin-left: 10px
}
.useCaseLibraryApp > body {
  width: 1190px;
  margin: 0 auto;
}
.useCaseLibraryApp > body > .container {
  width: 1188px;
  border: 1px solid #ccc;
  border-top: 0px;
  /* display: flex */
  position: relative;
  overflow: hidden;
}
.useCaseLibraryApp > body > .container > .left {
  /* flex: 2; */
  /* position: relative; */
  float: left;
  z-index: 99;
  width: 400px;
  box-sizing: border-box;
}
.useCaseLibraryApp > body > .container > .left > .top {
  width: 100%;
  height: 60px
} 
.useCaseLibraryApp > body > .container > .left>p{
  margin: 0 0 8px 20px;
}
.useCaseLibraryApp > body > .container > .left > .top > .el-input {
  width: 70%;
  margin-left: 20px;
  margin-top: 10px
}
.useCaseLibraryApp > body > .container > .left > .top > .el-button {
  margin-left: 10px;
  margin-top: 10px
}
.useCaseLibraryApp > body > .container > .right {
  /* flex: 4; */
  /* position: relative; */
  z-index: 1;
  width: 783px;
  float: left;
  height:817px ;
  overflow: auto;
  border-left: 1px solid #ccc;
}
.useCaseLibraryApp > body > .container > .left > .body {
  border-top: 1px solid #ccc;
  width: 100%;
  overflow-y: auto;
  position: relative;
  min-height: 720px
}
.useCaseLibraryApp > body > .container > .left > .body > .el-tree {
  width: 100%;
  position: absolute;
  overflow-y: auto
}
.useCaseLibraryApp > body >  .selector {
  z-index: 9999;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #f2f2f2;
  border: 1px solid #000;
  box-shadow: 1px 1px 2px 1px #ccc
}
.useCaseLibraryApp > body > .selector > ul {
  list-style: none
}
.useCaseLibraryApp > body > .selector > ul > li {
  width: 170px;
  padding: 5px 0px
}
.useCaseLibraryApp > body > .selector > ul > li > span {
  display: inline-block;
  width: 100%;
  text-align: center
  /* text-indent: 30px */
} 
.useCaseLibraryApp > body > .selector > ul > li > .upload-demo > .el-upload > .el-button {
  padding: 0px 0px;
  font-size: 16px;
  color: #000
}
.useCaseLibraryApp .dialogmultipleModifyCase > .el-dialog {
  width: 80%;
}
.useCaseLibraryApp .dialogmultipleModifyCase > .el-dialog > .el-dialog__body > .el-table > .el-table__body-wrapper {
  max-height: 325px;
  overflow-y: auto
}
.useCaseLibraryApp .dialogmultipleModifyCase .el-table__expanded-cell > .el-form > .el-form-item {
  width: 100%;
  display: flex;
}
.useCaseLibraryApp .dialogmultipleModifyCase .el-table__expanded-cell > .el-form > .el-form-item .el-form-item__label {
  width: 68px;
}
.useCaseLibraryApp .dialogmultipleModifyCase .el-table__expanded-cell > .el-form > .el-form-item > .el-form-item__content {
  flex: 1;
}
.useCaseLibraryApp .dialogCaseVisible .el-dialog__body > div:nth-of-type(1) {
  margin-bottom: 50px
}
.useCaseLibraryApp .dialogCaseVisible .el-dialog__body > div {
  padding: 10px 20px
}
.useCaseLibraryApp .dialogCaseVisible .el-dialog__body > div:nth-of-type(1) > .upload-demo {
  margin-right: 46.45px
}
.useCaseLibraryApp .dialogCaseVisible .el-dialog__body > div:nth-of-type(2) > .el-button {
  margin-right: 20px
}
.useCaseLibraryApp .dialogCaseVisible .el-dialog__body > div:nth-of-type(2) > ul {
  list-style: none
}
.useCaseLibraryApp .dialogCaseVisible .el-dialog__body > div:nth-of-type(2) > ul > li {
  font-size: 16px;
  margin-bottom: 5px
}
#resize{
  position: relative;
  width:2px;
  height:800px;
  cursor: e-resize;
  float:left;
}
